*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
    position: relative;
    width: 40%;
    overflow: hidden;
  }
  
.slider-main {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier( .41, 0, .59, 1 );
}

  .slider-main img {
    display: block;
    width: 100%;
    height: auto;

  }
  
  .slider-thumbs {
    display: flex;
    margin-top: 10px;
    transition: transform 0.5s cubic-bezier( .41, 0, .59, 1 );
    margin-left: calc(40% - 2px)

    

  }
  
  .slider-thumbs img {
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
    
    width: 32%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
  }
  
  .slider-thumbs img.active {
    border: 2px solid #000;
  }
  
  .slider-prev,
  .slider-next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
  }
  
  .slider-prev {
    left: 0;
  }
  
  .slider-next {
    right: 0;
  }

/* .thumb-position {
  background-color: aqua;
  height: 400px;
  position: absolute;
  left: 280px;
  bottom: 0px;
} */


